*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Comfortaa"
}

body{
    width: 100vw;
    height: auto;
    font-family: "Comfortaa";
}

#app{
    width: auto;
    height: auto;
}

.bttn_basic_style{
    background-color: #5b5ef4;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 10px;
}


