#home_titles_container{
    width: 100%;
    min-height: 10vh;
    background-color: #e7e7e7;


    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}

.home_titles_div{
    width: calc(100% / 7);
    color: #5b5ef4;
    font-weight: bold;

    display: flex;
    justify-content: center;
    justify-content: center;
}

#bttn_new_prof{
    padding: 10px;
    font-weight: bolder;
}