#footer_principal_container{
    font-family:"Comfortaa";
    width: 100vw;
    height: 10vh;
    background-color: #5b5ef4;
    margin: 0;
    padding: 0;
    color: white;

    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.footer_principal_div{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.footer_principal_div p {
    margin: 5px;
    padding: 0;
    /* font-family: "Comfortaa"; */
}

#footer_fiv_img{
    flex-direction: row !important;
}

.footer_img{
    width: 45px;
    height: 45px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer_contact_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.footer_contact_div p{
    font-size: 12px;
    /* font-family: "Comfortaa"; */
}

.footer_img_contact{
    width: 20px;
    height: 20px;
}

