.msg_exito{
    text-align: center;
    margin-top: 40px;
    color: rgba(15, 160, 15, 0.842);
}

.div_file_img_delete_modal{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.img_delet_modal{
    width: 70px;
    height: 70px;
}

#bttn_upLoad_img{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}

#bttn_upLoad_img p{
    display: flex;
    justify-content: center;
    align-items: center;

    color: grey;
    margin-left: 5px;
}