#navbar_principal_container{
    width: 100vw;
    height: 10vh;
    background-color: white;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#navbar_img{
    width: 80px;
    height: 70px;
}